.link {
  text-decoration: none;
}

.btn-hammer {
  background-color: #3f4e5d;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  width: 222px;
  margin: 0 auto;
}

.btn-hammer:hover {
  background-color: #0c2335;
}

.btn-lightbulb {
  background-color: #c65c4b;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  width: 222px;
  margin: 0 auto;
}

.btn-lightbulb:hover {
  background-color: #56130b;
}

.btn-phone {
  background-color: #37ba98;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  width: 222px;
  margin: 0 auto;
}

.btn-phone:hover {
  background-color: #0e4f3c;
}

.icon-size {
  font-size: 100px;
}

.billboard {
  height: 75em;
}

.bg {
  background-color: #efb882;
  background-image: url(../img/cork-board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-text-color {
  color: #fff;
  font-family: 'Josefin Sans', Arial sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.icon-lightbulb, .icon-phone, .icon-hammer {
  color: white;
  font-size: 5em;
}

.design {
  padding-top: 1em;
}

.design-title h1 {
  text-align: center;
  font-family: 'Josefin Sans', Arial sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  line-height: 1.3154;
  text-transform: uppercase;
  padding-bottom: .5em;
  color: #15012b;
}

@media only screen and (min-width: 25em) {
  .design-title h1 {
    font-size: 4em;
  }
}

@media only screen and (min-width: 38em) {
  .dbg {
    background-size: 120% 200%;
  }
  .design-title h1 {
    font-size: 5.5em;
    padding-bottom: .5em;
  }
}

@media only screen and (min-width: 60em) {
  .design-title h1 {
    font-size: 5em;
  }
  .bg {
    background-size: cover;
  }
  .btn-phone {
    width: 262px;
  }
  .btn-hammer {
    width: 262px;
  }
  .btn-lightbulb {
    width: 262px;
  }
  .billboard {
    height: 40em;
  }
}

@media only screen and (min-width: 90em) {
  .bg {
    background-size: cover;
  }
  .design-title h1 {
    font-size: 5.5em;
  }
  .btn-phone {
    width: 280px;
  }
  .btn-hammer {
    width: 280px;
  }
  .btn-lightbulb {
    width: 280px;
  }
}
