// Colors
$beige: #efb882;
$gray-blue: #3f4e5d;
$gray-blue-hover: #0c2335;
$orange: #c65c4b;
$orange-hover: #56130b;
$green: #37ba98;
$green-hover: #0e4f3c;
$white: #fff;
$dark-blue: #15012b;


// Font Families
$josefin: 'Josefin Sans', Arial, sans-serif;
