// Colors
$beige: #efb882;
$grey-blue: #3f4e5d;
$orange: #c65c4b;
$green: #37ba98;
$white: #fff;
$dark-blue: #15012b;


// Font Families
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300);
$josefin: 'Josefin Sans', Arial, sans-serif;
