.link {
	text-decoration: none
}

.btn-hammer {
	@include button($grey-blue);
	&:hover {
	background-color: darken($grey-blue, 20%);
	}
	@media only screen and (min-width: 60em) {
		width: 262px;
	}
	@media only screen and (min-width: 90em) {
		width: 280px;
	}
}

.btn-lightbulb {
	@include button($orange);
	&:hover {
	background-color: darken($orange, 20%);
	}
	@media only screen and (min-width: 60em) {
		width: 262px;
	}
	@media only screen and (min-width: 90em) {
		width: 280px;
	}
}

.btn-phone {
	@include button($green);
	&:hover {
	background-color: darken($green, 20%);
	}
	@media only screen and (min-width: 60em) {
		width: 262px;
	}
	@media only screen and (min-width: 90em) {
		width: 280px;
	}
}

.icon-size {
	font-size: 100px;
}

.billboard {
	height: 75em;
	@media only screen and (min-width: 60em) {
		height: 40em;
	}
}

.bg {
	background-color: #efb882;
	background-image: url(../img/cork-board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-text-color {
	@include text($white);
}

.icon-lightbulb, .icon-phone, .icon-hammer {
	@include icon(white);
}

.design {
	padding-top: 1em;
}

.design-title	h1 {
	@include title($dark-blue);
	font-size: 2.5745rem;
	line-height: 3.2750rem;
	@media only screen and (min-width: 25em) {
		font-size: 4rem;
		line-height: 4.5rem;
	}
	@media only screen and (min-width: 38em) {
		font-size: 5rem;
		line-height: 6.5rem;
	}
	@media only screen and (min-width: 60em) {
		font-size: 5rem;
		line-height: 6.5rem;
	}
	@media only screen and (min-width: 90em) {
		font-size: 5.5em;
		line-height: 6.5rem;
	}
}




