.link {
	text-decoration: none
}

.btn-hammer {
	@include button($gray-blue);
	&:hover {
	background-color: $gray-blue-hover;
	}
}

.btn-lightbulb {
	@include button($orange);
	&:hover {
	background-color: $orange-hover;
	}
}


.btn-phone {
	@include button($green);
	&:hover {
	background-color: $green-hover
	}
}

.icon-size {
	font-size: 100px;
}

.billboard {
	height: 75em;
}

.bg {
	background-color: #efb882;
	background-image: url(../img/cork-board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-text-color {
	@include text($white);
}

.icon-lightbulb, .icon-phone, .icon-hammer {
	@include icon(white);
}

.design {
	padding-top: 1em;
}

.design-title h1{
	@include title($dark-blue);
}

@media only screen and (min-width: 25em) {
	.design-title h1  {
		font-size: 4em;
	}
}

@media only screen and (min-width: 38em) {
	.dbg {
		background-size: 120% 200%;
	}

	.design-title h1  {
		font-size: 5.5em;
		padding-bottom: .5em;
	}
}

@media only screen and (min-width: 60em) {
	.design-title h1 {
		font-size: 5em;
	}

	.bg {
		background-size: cover;
	}

	.btn-phone {
		width: 262px;
 }

 .btn-hammer {
		width: 262px;
 }

 .btn-lightbulb {
		width: 262px;
 }

 .billboard {
		height: 40em;
	}
}

@media only screen and (min-width: 90em) {

	.bg {
		background-size: cover;
	}

	.design-title h1 {
		font-size: 5.5em;
	}

	.btn-phone {
		width: 280px;
 }

 .btn-hammer {
		width: 280px;
 }

 .btn-lightbulb {
		width: 280px;
 }
}

@media only screen and (min-width: 120em) {
}
